:root{
    --primary-color:#396c61;
    --main:#fff;
    --dark:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Sen';
    src: url('../assets/fonts/Sen-Regular.woff2') format('woff2'),
        url('../assets/fonts/Sen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Sen , sans-serif';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}